<div>
    <form
        novalidate
        name="orderForm"
        ng-submit="orderC.addOrder(newOrder)">
        <legend>Add a new order</legend>
        <div class="form-group">
            <label for="name">Name:</label>
            <select
                ng-model="orderC.newOrder.name"
                ng-options="customer.name for customer in orderC.customers"
                class="form-control"
                name="name"
                style="width:50%">
            </select>
            <label for="quantity">Quantity:</label>
             <select
                name="quantity"
                class="form-control"
                style="width:50%"
                ng-model="orderC.newOrder.name[orders.quantity]">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
            <lable for="item">Item:</label>
             <select
                ng-Controller="ProductsController as prodC"
                ng-model="orderC.newOrder.name[orders.product_id]"
                ng-options="product.item for product in prodC.products"
                class="form-control"
                name="item"
                style="width:50%"
                value="product._id for product in prodC.products">
            </select>
            <button type="submit" class="btn btn-primary">Add Order</button>
        </div>
    </form>
</div>
<div>
    <div>
        <input type="text" placeholder="search name" style="float:right;" ng-model="filter_name">
    </div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Customer Name</th>
                <th>Product</th>
                <th>Quantity</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="customer in orderC.customers |  filter:filter_name | orderBy:'name'">
                <td >{{customer.name}}</td>
                <td ng-repeat="order in customer.orders">{{order.product_id}}</td>
                <td ng-repeat="order in customer.orders">{{order.quantity}}</td>
                <td ng-repeat="order in customer.orders">{{order.ordered | date:'medium'}}</td>
            </tr>
        </tbody>
    </table>
</div>
